
.portfolio {
  flex: 1 1 70vw;
  align-self: stretch;
  bottom: 0;
  font-size: 1.5em;
  color: var(--accent-color-light);
  animation: color-change 6s infinite alternate;
  text-align: center;
  background-color: var(--primary-color-dark);
  z-index: 1;
}

@media all and (max-width:1440px) and (orientation: landscape){
  .portfolio{
      flex: 1 1 170vw;
  }
}