
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px,1fr));
  grid-column-gap: 1rem;
  column-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  bottom: 0;
  color: var(--accent-color-light);
  background-color: var(--primary-color-dark);
  z-index: 1;
  animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -webkit-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -moz-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -ms-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -o-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
}

.portfolio > div { 

}