
.portfolio {
  display: grid;
  grid-template-columns: repeat( 2 , minmax(min(200px,90%), .38fr));
  grid-template-rows: repeat(auto-fill, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
  bottom: 0;
  background-color: var(--primary-color-dark);
  z-index: 1;
  /* animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -webkit-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -moz-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -ms-animation: Portfolio_color-change__vg4S3 4s infinite alternate;
  -o-animation: Portfolio_color-change__vg4S3 4s infinite alternate; */
}

@media all and (max-width: 425px){
.portfolio{
  grid-template-columns: repeat( 1 , minmax(min(200px,90%), .8fr));
}
}