.toolbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    right: 0px;
    left: 0px;
    top: 0px;
    height: 52px;
    z-index: 100;
    padding: 4px 8px;
    box-shadow: 0px 0px 6px var(--primary-color-dark);
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.profile_picture {
    flex: 1 0 48px;
    padding: 0px;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    background-image: url(/static/media/pic1.59c9431c.jpg);
    background-size: cover;
}