.lds-ripple {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 90px;
    margin: auto;
    top: 10vh;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid var(--accent-color-light);
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.6s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
      border: 4px solid var(--accent-color-light);
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
      border: 4px solid var(--accent-color-dark);
    }
}