.navigation{
    margin: 0;
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
}
.navigation ul{
    list-style-type: none;
    float: right;
}
.navigation ul li{
    float: left;
    width: 102px;
    text-align: center;
}
