.home{
    position: fixed;
    line-height: .5em;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    bottom:0px;
    right: 0px;
    left: 0px;
    top: 0px;
}
.text{
    position: relative;
    margin-left: 10%;
    top: 96px;
}

.header{
    font-size: 4.5em;
    font-weight: 700;
}

.sub-header{
    font-size: 2.5em;
    line-height: .1em;
    font-weight: 500;
}

.header > * , .sub-header > * {
    position: relative;
}

.highlight{
    color: var(--accent-color);
}

.background-container{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 60%;
    height: 100%;
    background-image: url('../../Assets/website_pic.png');
    filter: drop-shadow(12px 12px 16px var(--primary-color-dark));
    background-repeat: no-repeat;
    background-size:cover;
    background-position: right;
}

.signature {
    position: relative;
    width: 60vw;
    max-width: 920px;
    height: 70vh;
    max-height: 612px;
    left: 15%;
    top: 10%;

}

.signature img {
    position: relative;
    top: -10em;
    width: 100%;
    height: 100%;
    filter: drop-shadow(12px 12px 16px var(--primary-color-dark));
}

.foreground{
    z-index: 5;
}

.background{
    z-index: 1;
}

.slide-in-right{
    animation-name: slide-in-right;
}

.slide-in-top{
    animation-name: slide-in-top;
}
.slide-in-left{
    animation-name: slide-in-left;
}

.animated{
    animation-duration: 900ms;
    animation-fill-mode:forwards;
    animation-timing-function: cubic-bezier(0.75, 1.24, 0.93, 1.14);
    animation-iteration-count: 1;
    opacity: 0;

}
.animated-fast{
    animation-duration: 300ms;
    animation-fill-mode:forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    opacity: 0;

}
.animated:active{
    animation-name: slide-in-right;
}

#H{
    animation-delay: 100ms;
}

#I{
    animation-delay: 1000ms;
}

#name{
    animation-delay: 1000ms;
}

#first-sub-header{
    animation-delay: 1300ms;
}

#second-sub-header{
    animation-delay: 1400ms;
}

@keyframes slide-in-right {
    0% {
      left: 50%;
      opacity: 0;
    }
  
    100% {
        left: 0%;
        opacity: 1;
    }
}
@-webkit-keyframes slide-in-right {
    0% {
      left: 50%;
      opacity: 0;
    }
  
    100% {
        left: 0%;
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
      top: -50%;
      opacity: 0;
    }
  
    100% {
        top: 0px;
        opacity: 1;
    }
}
@-webkit-keyframes slide-in-top {
    0% {
      top: -50%;
      opacity: 0;
    }
  
    100% {
        left: 0px;
        opacity: 1;
    }
}
@keyframes slide-in-left {
    0% {
      left: -50%;
      opacity: 0;
    }
  
    100% {
        left: 0%;
        opacity: 1;
    }
}
@-webkit-keyframes slide-in-left {
    0% {
      left: -50%;
      opacity: 0;
    }
  
    100% {
        left: 0px;
        opacity: 1;
    }
}

@media all and (min-width:768px) and (max-width: 1024px){
    .text{
        line-height: .1em;
        margin-left: 4em;
        margin-top: 6em;
        
    }
    .signature {
        position: relative;
        width: 82vw;
        top: 12vh;
        left: 0px;
    }
    .background-container{
        width: 100%;
    }
}

@media all and (max-width: 767px){
    .background-container{
        display: none;
    }

    .text{
        overflow-wrap: normal;
        line-height: .1em;
        margin-left: 2em;
        margin-top: 6em;
        font-size: 1em;
    }
    .header{
        font-size: 2.5em;
    }

    .sub-header{
        font-size: 1.5em;
        line-height: .1em;
    }

    .signature {
        position: relative;
        width: 100%;
        bottom: 0px;
        left: 0px;
    }
    .signature img {
        position: relative;
        width: 97%;
        height: 72%;
        filter: drop-shadow(12px 12px 16px var(--primary-color-dark));
        top: 12%;
        left: 14%;
    }
}