
.navItem {
    width: 98px;
    margin: 12px ;
    cursor: pointer;
    text-align: center;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    /* box-sizing: border-box; */
    text-decoration: none;
    color: var(--primary-color-light);    
    transition: 0.3s;
}

.navItem:hover{
        color: var(--accent-color);
        filter: opacity(70%);
}

.navItemActive{
    color: var(--accent-color);
}

