.nav_item {
    width: 92px;
    margin: auto 6px ;
    /* border:2px black solid; */
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    transition: 0.3s;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: var(--primary-color-light)
    
}

.nav_item:hover{
    color: var(--accent-color);
}