.card{
    display: flex;
    flex-direction: column;
    border-radius: .8rem;
    border: .15rem solid var(--primary-color-light);
    box-shadow: 0px 0px 4px 2px var(--primary-color);
    transition: 0.3s;
    padding: 0px;
    box-sizing: content-box;
    overflow: hidden;
}

.card:hover{
    box-shadow: 0px 0px 6px 4px var(--primary-color);
}

.card-header{
    flex: 4 0 12rem;
    background-image: url(/static/media/acLogo.ba9cf1ac.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


.card-title{
    flex: 1 0;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    padding:8px;
    box-sizing:border-box;
}

.title{
    flex: 1 0;
    color: white;
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
}

.language-box{
    border-radius: .8rem;
    border: .1rem solid var(--accent-color);
    flex: 0 0 32px;
    padding: 5px;
    box-sizing: content-box;
}