.fab{
        margin: 16px;
        border-radius: 50px;
        padding: 6px;
        will-change: auto;
        box-shadow: 0px 0px 15px white;
        
}

.fab:hover{
        box-shadow: 0px 0px 15px var(--primary-color-dark);
        transition: 0.3s;
}