body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #2080a5;
  --primary-color-light:  #5dafd7;
  --primary-color-dark:  #005476;
  --accent-color: #c04482;
  --accent-color-light:#f676b1;
  --accent-colort-dark:#8c0355;
  color: #ffffff;
}

