.contacts{
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: #ffffff;
    color: black;
    font-size: 1em;
    padding: 16px;
    z-index: 1;
}

.contacts a, .contacts  p {
    text-align: center;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.email{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-fabs{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}