
.coming-soon {
  flex: 1 1 20em;
  align-self: stretch;
  bottom: 0;
  font-size: 1.5em;
  color: var(--accent-color-light);
  animation: color-change 6s infinite alternate;
  text-align: center;
  background-color: var(--primary-color-dark);
}

.coming-soon p {
  position: relative;
  top: 40%;
}
  
  @keyframes color-change {
    0% { color: white; }    
    50% { color: var(--accent-color); }
    100% { color: var(--accent-color-dark); }

  }