
.coming-soon {
  flex: 1 1 auto;
  align-self: stretch;
    font-size: 2.1em;
    color: var(--accent-color-light);
    animation: color-change 10s infinite alternate;
    text-align: center;
    background-color: var(--primary-color-dark);
  }
  
  @keyframes color-change {
    0% { color: var(--accent-color-light); }    
    25% { color: var(--accent-color); }
    50% { color: var(--accent-color-dark); }
    75% { color: var(--primary-color); } 
    100% { color: var(--primary-color-dark); }
  }