.about-me{
    width: 100%;
    box-sizing: border-box;
    color: var(--primary-color-dark);
    font-weight: 300;
    background-color: white;
    z-index: 50;
    text-align: center;
    padding: 10%;
}