.about-me{
    color: black;
    /* text-transform: uppercase; */
    font-size: 1.2em;
    font-weight: 400;
    background-color: white;
    z-index: 50;
    flex: 1 1 auto;
    text-align: center;
    padding: 10%;
}